<div class="container-fluid mb-5">
  <h1>Forms</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    {{ userForm.valid }}
    <div class="form-control">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="userName"
        [(ngModel)]="userModel.name"
        #name="ngModel"
        required
        [class.is-invalid]="name.invalid && name.touched"
      />
      <small class="text-danger" [class.d-none]="name.valid || name.untouched"
        >Name is required</small
      >
    </div>

    <h1>Name: {{ name.invalid }}</h1>

    <div class="form-control">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="userModel.email"
        required
        #email="ngModel"
        dirty
        [class.is-invalid]="email.invalid && email.touched"
      />
      <small class="text-danger" [class.d-none]="email.valid || email.untouched"
        >Email is required</small
      >
    </div>

    <div>
      <h2>From email</h2>
      <h5>Foi clicado? | Touched: {{ email.touched }}</h5>
      <h5>
        É o valor inicial - não foi modificado? | Pristine: {{ email.pristine }}
      </h5>
      <h5>Foi modificado? | Dirty: {{ email.dirty }}</h5>
      <h5>É válido? | Valid: {{ email.valid }}</h5>
      <h5>É inválido? | Invalid: {{ email.invalid }}</h5>
    </div>

    <div class="form-control">
      <label for="phone">Phone</label>
      <input
        type="tel"
        class="form-control"
        name="phone"
        [(ngModel)]="userModel.phone"
        required
        #phone="ngModel"
        pattern="^\d{10}$"
        [class.is-invalid]="phone.invalid && phone.touched"
      />
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched"
        >Phone number is required and must be 10 digits</small
      >-->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors['required']">
          Phone number is required
        </small>
        <small class="text-danger" *ngIf="phone.errors['pattern']">
          Phone must be 10 digits
        </small>
      </div>
      <div></div>
    </div>

    <div class="form-group">
      <select
        class="custom-select"
        name="topic"
        #topic="ngModel"
        [(ngModel)]="userModel.topic"
        [class.is-invalid]="topicHasError && topic.touched"
        required
        (blur)="validateTopic(topic.value)"
        (change)="validateTopic(topic.value)"
      >
        <option value="default">Im interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
      <span class="text-danger" [class.d-none]="!topicHasError || topic.untouched"
        >Please choose</span
      >
    </div>

    <div class="">
      <label>Time preference</label>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="timePreference"
          value="morning"
          [(ngModel)]="userModel.timePreferences"
        />
        <label class="form-check-label">Morning 9AM - 12PM</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="timePreference"
          value="evening"
          [(ngModel)]="userModel.timePreferences"
        />
        <label class="form-check-label">Evening 5PM - 8PM</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        name="subscribe"
        [(ngModel)]="userModel.subscribed"
        #subscribe
      />
      <label class="form-check-label"> Send </label>
    </div>

    <button [disabled]="userForm.invalid || topicHasError" class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
