<main>
  <h1>{{title}}</h1>

  <div style="text-align:center">
    <h1>
      Routing Application
    </h1>
  </div>
  <nav>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
  </nav>

  <!-- <app-interactor
    [parentData]="interactorName1"
    [grandpaData]="interactorName2"
    (childEvent)="message=$event"
    >
  </app-interactor>

  <h3 [style.color]="'rgb(145, 153, 27)'">{{message}}</h3>

  <app-eventbinding></app-eventbinding>

  <app-binding></app-binding> -->

</main>

<router-outlet></router-outlet>
