h2 {
  color: rgb(139, 27, 109);
}

.green {
  color: rgb(27, 139, 27);
}

.blue {
  color: rgb(27, 33, 153);
}
.red {
  color: rgb(213, 23, 23);
}

.italic {
  font-style: italic;
}
