
<h2>Here is interpolation {{ name }}</h2>
<p>Just pass a property inside an HTML tag, inside double brackets</p>

<div>
  <h2>This way its only possible to bind a string value:</h2>
  <p>id="{{myId}}" type="text" value="example-1"</p>
  <input id="{{myId}}" type="text" value="example-1">
  <p>disabled="isDisabled" type="text" value="example-2"</p>
  <h2>The disabled prop = false, is not being binded:</h2>
  <input disabled="isDisabled" type="text" value="example-2">
</div>

<div>
  <h2>This way its possible to bind booleans:</h2>
  <p>[id]="myId" type="text" value="example-2"</p>
  <input [id]="myId" type="text" value="example-2">
  <h2>Disabled prop = false, being binded:</h2>
  <p>[disabled]="isDisabled" type="text" value="example-2"</p>
  <input [disabled]="isDisabled" type="text" value="example-2">
</div>

<h2>Binding class (style)</h2>

<h2 [class]="greenStyle">Class Binded: [class]="greenStyle"</h2>

<h2 class="red" [class]="greenStyle">Class Binded: class="red" => overrides this =>[class]="greenStyle" </h2>

<h2 [class.blue]="hasError">Class Binded: [class.blue]="hasError"</h2>

<h2 [ngClass]="messageClasses">Object Binded: [ngClass]="messageClasses"</h2>

<h2 [style.color]="'yellow'">Hard changing color: [style.color]="'yellow'"</h2>

<h2 [style.color]="hasError ? 'red' : 'blue' ">Chaging by condition: [style.color]="hasError ? 'red' : 'blue'"</h2>

<h2 [ngStyle]="titleStyles" >Onther way to bind the CSS: [ngStyle]="titleStyles"</h2>

<div>
  <h2>Two way binding</h2>
  <input [(ngModel)]="twName" type="text">
  {{twName}}
</div>
